<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blockchainapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlockchainApp">
        <activity android:name=".Campaign.CampaignInformation"></activity>
        <activity android:name=".HelpRequest.HelpRequestListActivity" />
        <activity android:name=".HelpRequest.HelpRequestActivity" />
        <activity android:name=".Campaign.CampaignOptionSelectActivity" />
        <activity android:name=".Campaign.CampaignListActivity" />
        <activity android:name=".Campaign.GrantActivity" />
        <activity android:name=".Campaign.CampaignActivity" />
        <activity android:name=".Log.HistoryActivity" />
        <activity android:name=".Auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Account.AccountActivity" />
        <activity android:name=".Transaction.DonationActivity" />
        <activity android:name=".Auth.RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>